mixin footer()
	+b.FOOTER.footer.section
		.container
			.row
				.col-12.col-lg-3.col-xl-4.order-1
					+e.logo(href='https://hacks-ai.ru/' data-aos="fade-up" data-aos-duration="700" target='_blank')
						//-  +img('img/svg/logo3.svg')
						+footerLogo()
					
					+img('img/foot-logo-2.png')
					br
					+img('img/foot-logo-3.png')
				.col-auto.col-lg-4.col-xl-3.order-3.order-lg-2(data-aos="fade-up" data-aos-duration="700")
					+soc
					mixin link(span, mail)
						+e.link
							span!= span 
							a(href=`mailto:${mail}`)!= mail  
					+link('For the media', 'pr@hacks-ai.ru')
					+link('For partners', 'partners@hacks-ai.ru')
					+link('About hackathons', 'info-champ@hacks-ai.ru ')
					//- +link('Служба поддержки', 'hacks-ai@rsv-help.ru')
				.col.col-lg.order-2.order-lg-3
					nav(data-aos="fade-up" data-aos-duration="700")
						ul
							li: a.disabled(href="#") About the project
							li: a.disabled(href="#") Datasets
							//- li: a(href="/#sHackathons") Хакатоны
							li: a.disabled(href="#") Contacts
							//- li: a(href="#") Лекции
							li: a.disabled(href="https://hacks-ai.ru/faq.html") FAQ
							li: a.disabled(href="/#sPartners") Partners
							li: a.disabled(href="https://hacks-ai.ru/news.html") News
							//- li: a(href="http://2022.hacks-ai.ru/" target="_blank") Архив 2022
							//- li: a.disabled(href="#") Партнёрам
							li: a.disabled(href="#") Vacancies
							li: a.disabled(href="#") Summary
							li: a.disabled(href="#") Support measures
			+e.wrap
				.row.text-center.text-md-start
					.col-md.col-lg-4
						span © 2023
					.col-md.col-lg-3
						a(href="https://lodmedia.hb.bizmrg.com/approval.pdf" target="_blank") Regulations on District Hackathons
					.col-md.col-lg-3
						a(href="https://lodmedia.hb.bizmrg.com/polozhenie.pdf" target="_blank") Privacy Policy
					// .col-md.col-lg-3
					//	a(href="https://hacks-ai.ru/docs/%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5_%D0%BD%D0%B0_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83_%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.pdf" target="_blank") Политика конфиденциальности
	//- +b.cookie-block.d-none
	//- 	.container
	//- 		.row
	//- 			.col Для того, чтобы ты&nbsp;мог удобнее пользоваться сайтом, мы&nbsp;используем cookies, которые сохраняются на&nbsp;твоем компьютере. Нажимая СОГЛАСЕН, ты&nbsp;подтверждаешь, что ты&nbsp;знаешь об&nbsp;использовании cookies на&nbsp;нашем сайте. Если захочешь, то&nbsp;отключить cookies ты&nbsp;можешь в&nbsp;настройках своего браузера
	//- 			.col-auto
	//- 				button.btn.btn-primary  Согласен