mixin sImgBlock(data)
	// start sImgBlock
	+b.SECTION.sImgBlock.section#sImgBlock&attributes(attributes)
		.container
			.fig
			+e.inner.bg-wrap
				+img("img/img-block.png",'bg').img-bg(data-aos="fade-up") 
				h2(data-aos="fade-up") = data.title3
				+e.dates.row(data-aos="fade-up") 
					+e.date-item.col-auto
						+e.number= data.dataStart
						.small= data.monStart
					+e.date-item.col-auto
						+e.number= data.dataEnd
						.small= data.monEnd
				+e.addr(data-aos="fade-up")  Moscow

	// end sImgBlock