mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.fig
		.container
			h1(data-aos="fade-up")
				= data.title 
				| 
				| —
			+e.text(data-aos="fade-up")!= data.text
			+e.videoBlock.bg-wrap(data-aos="fade-up") 
				video.picture-bg(src="https://lodmedia.hb.bizmrg.com/assets/video-bg-new.mp4" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" preload="metadata")  
	// end headerBlock