mixin aImgBlock(data)
	// start aImgBlock
	+b.SECTION.aImgBlock.section#aImgBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 aImgBlock
				
			+e.row.row
	// end aImgBlock