mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-titledata-aos="fade-up"
				h2 Partners
				
			ul 
				li(data-aos="fade-up"): a(href="https://www.economy.gov.ru/") Ministry of Economic Development of the Russian Federation
				li(data-aos="fade-up"): a(href="https://rsv.ru") ANPO "Russia is a country of opportunities"
				li(data-aos="fade-up"): a(href="https://ftim.ru/") Transport innovations of Moscow
				li(data-aos="fade-up"): a(href="https://xn--80aapampemcchfmo7a3c9ehj.xn--p1ai/projects/tsifrovaya-ekonomika") National Project "Digital Economy"
				li(data-aos="fade-up"): a(href="https://minstroyrf.gov.ru") Ministry of Construction and Housing and Communal Services of the Russian Federation
				li(data-aos="fade-up"): a(href="https://edu.gov.ru/") The Ministry of Education of the Russian Federation
				li(data-aos="fade-up"): a(href="https://www.mnr.gov.ru/") Ministry of Natural Resources and Ecology of the Russian Federation
				li(data-aos="fade-up"): a(href="https://cbr.ru/") Central Bank of the Russian Federation
				li(data-aos="fade-up"): a(href="https://www.mos.ru/ds/") Department of Construction of the City of Moscow
				li(data-aos="fade-up"): a(href="https://roskapstroy.ru/") Federal Autonomous Institution "RosKapStroy"
				li(data-aos="fade-up"): a(href="https://kis.gov.spb.ru/") Government of St. Petersburg, Committee on Informatization and Communications
				li(data-aos="fade-up"): a(href="https://gge.ru/") FAA "Glavgosexpertiza of Russia"
				li(data-aos="fade-up"): a(href="https://www.asu.ru/") Altai State University
				li(data-aos="fade-up"): a(href="https://www.ac-vo.ru/") LLC "Accelerator of Opportunities" 
				li(data-aos="fade-up"): a(href="https://gu.spb.ru/mfc/") Multifunctional Center for the Provision of State and Municipal Services
				li(data-aos="fade-up"): a(href="https://rzd.ru/") JSC "RUSSIAN Railways"
				li(data-aos="fade-up"): a(href="https://rutube.ru/") RUTUBE
				li(data-aos="fade-up"): a(href="https://samolet.ru/") The company "SAMOLET"
				li(data-aos="fade-up"): a(href="https://vk.company/ru/") VK
				li(data-aos="fade-up"): a(href="https://www.rosatom.ru/") Rosatom State Corporation
				li(data-aos="fade-up"): a(href="https://rosatom-academy.ru/") Rosatom Corporate Academy
				li(data-aos="fade-up"): a(href="https://moscow.rt.ru/") Rostelecom

	// end sPartners