.menu{
	display: flex;
	// text-align: center;
	// @include roww(20px);
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	--bs-gutter-y: #{rem(29)};
	margin-top: calc(var(--bs-gutter-y) * -1);
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
		margin-top: var(--bs-gutter-y);
	}
	a{
		display: block;
		padding: 0;
		font-weight: 600;
		font-size: rem(18);
		line-height: 1.29;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
		&:not(:hover) {
			color: #fff;
		}
	}
}



.toggle-menu-mobile {
	--h: #{rem(2)};
	--color: #fff;
	--position: calc(var(--h) * 3);
	&.on span {
		--color: #fff;
		background-color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: flex;
	align-items: center;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 16.5px;
	width: auto;
	cursor: pointer;
	@include media-breakpoint-up(xl) {
		margin-right: 16px;
	}
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
	p {
		margin-bottom: 0;
		font-size: rem(12);
		font-weight: 600;
		padding-left: rem(27);
	}
}
// @include media-breakpoint-down(lg) {

// }
.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: rem(728);
	// height: calc(var(--vh, 1vh) * 100);
	// height: 100vh;
	width: 100%;
	top: 0;
	// left: 0;
	right: 0;
	background-color: $body-bg;
	&:not(.active){
		transform: translate3d(120%, 0,0);
		--opacity: 0;
		.toggle-menu-mobile{
			opacity: 0;
		}
	}
	@include mt(.6s);
	will-change: transform;

	
	.toggle-menu-mobile { 
		// margin-left: -15%;
		position: absolute; 
		left: rem(16);
		right: auto;
		color: #FFF;
		top: rem(17);
		z-index: 9999; 
		font-size: rem(24);
		width: rem(24);
		margin-right: 0;
		span:after,
		span:before {
			--color: #ffffff;
		}
	}
	&__inner {
		padding: calc(env(safe-area-inset-top, 0px) + #{rem(59)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(28)});
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: calc(var(--vh) * 100);
		width: 100%;
		// @include mt(.3s);
		// transition-delay: .4s;
		// opacity: var(--opacity);
		@include media-breakpoint-up(lg) {
			padding: calc(env(safe-area-inset-top, 0px) + #{rem(97)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(56)});
		}
	}
	&__content {
		max-width: calc(rem(446) + (rem(18) * 2));
		padding-left: rem(18);
		padding-right: rem(18);
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}
	&__icon-link {
		display: block;
		position: absolute;
		top: rem(17);
		right: rem(16);
		&:not(:hover) {
			color: #fff;
		}
		.icon {
			font-size: rem(24);
		}
	}
	&__lc-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: rem(102);
		border: 1px solid $primary;
		border-radius: 8px;
		color: #fff;
		text-align: center;
		font-size: rem(12);
		font-weight: 600;
		line-height: 1.33;
		padding: rem(25) rem(5);
		&:hover {
			color: $primary;
		}
		.icon {
			flex: 0 0 auto;
			margin-bottom: rem(11);
			font-size: rem(24);
		}
	}
	&__footer {
		margin-top: auto;
		.soc {
			margin-bottom: rem(38);
		}
	}
	&__link {
		font-size: rem(12);
		display: inline-block;
		line-height: 1.83;
		&:not(:hover) {
			color: #fff;
		}
	}
}