// start .sLeaders
.sLeaders {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		&__text{
			color: $primary;
			@include media-breakpoint-up(lg) {
			@include rfs(48px);
			}
			font-weight: 500;
			margin-bottom: 2rem;
		}
		h2{
			margin-bottom: 0;
			line-height: 1;
		}
		p{
			font-weight: 600;
			@include rfs(24px);
			@include media-breakpoint-up(lg) {
				max-width: rem(450);
			}
		}
	}
	ul{
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include roww(#{rem(40)});
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(115px)}
		}
	}
	li{
		margin-bottom: 2em;
			@include media-breakpoint-up(xl) {
				width: calc(100% / 3);
			}
			
			@include media-breakpoint-up(lg) {
				width: calc(100% / 2);
			}

		@include rfs(24px);
		&::before{
			content:  '/';
			display: block;
			font-size: rem(60);
			line-height: 1;
			color: transparent;
			font-variant-numeric: lining-nums proportional-nums;
			margin-bottom: rem(27);
			font-weight: bold;
			-webkit-text-stroke: 1px $primary; /* Толщина и цвет обводки */
  		text-stroke: 1px $primary; /* Толщина и цвет обводки (стандартное свойство) */
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sLeadersгд