 
	  
.soc{
	@include roww(24px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		color: #fff;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			color: $primary;
		}
		
	}
	.icon{
		font-size: rem(24);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.swiper-button-hand {
	margin-top: 0;
	flex: 0 0 auto;
	.icon {
		fill: none;
		stroke: currentColor;
		stroke-width: 2px;
		font-size: rem(8);
	}
}

.swiper-pagination {
	margin: 0 rem(6);
	@include media-breakpoint-up(md) {
		margin: 0 rem(8.4);
	}
	&-bullet {
		--swiper-pagination-bullet-horizontal-gap: #{rem(10.8)};

		background-color: rgba($color: #fff, $alpha: .2);
		width: rem(10);
		height: rem(10);
		@include media-breakpoint-up(md) {
			--swiper-pagination-bullet-horizontal-gap: #{rem(10.8)};
		}
		&-active {
			background-color: $primary;
		}
	}
}

.dd-group {
	&__content {
		display: none;
	}
}

.default-slider {
	overflow: hidden;
	&__slider {
		margin-right: calc(var(--slideGutter) * -1);
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
	}
	&__slide {
		width: calc(100% / var(--slideCount) - var(--slideGutter));
		margin-right: var(--slideGutter);
	}
	&__arrow-wrap {
		@include roww('20px', 'm');
		@include media-breakpoint-up(md) {
			--bs-gutter-x: 40px;
		}
	}
	&__row {
		align-items: center;
	}
	.swiper-button-hand {
		position: static;
		display: inline-flex;
		border: none;
		--swiperArrowSize: #{rem(24)};
		--swiperColorDef: #{$pink};
		.icon {
			font-size: rem(24);
			fill: currentColor;
			stroke: none;
		}
	}
}

.tech {
	position: absolute;
	display: block;
	background-color: $body-bg;
	color: #fff;
	padding: rem(3.640) rem(6.160);
	border-radius: 30.8824px;
	z-index: 2;
	font-weight: 600;
	font-size: calc(6px + 0.55vw + 0.11vh);
}

.scroll-top {
	cursor: pointer;
	@include mt;
	position: fixed;
	right: rem(24);
	bottom: rem(24);
	width: rem(38);
	height: rem(38);
	border-radius: 50%;
	background-color: $body-bg;
	color: $primary;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	@include media-breakpoint-up(md) {
		display: none;
	}
	&:hover {
		background-color: $primary;
		color: #fff;
		box-shadow: 1px 1px 8px 1px #b3b0b08c;
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
	.icon {
		font-size: rem(24);
	}
}